{% extends 'layout.html' %} {% block content %}
<h1>TOTP Setup</h1>
<p>Scan this QR code with your Authenticator.</p>
<img src="data:image/png;base64,{{ qr_code }}" alt="TOTP QR Code" />
<form action="/totp" method="post" class="box">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="input__wrapper">
    <input
      type="text"
      name="otp"
      placeholder="Enter 6‑digit code"
      class="input__field"
      required
    />
  </div>
  <div class="input__wrapper">
    <button type="submit" class="btn">Verify</button>
  </div>
</form>
{% endblock %}
